<template>
    <main>
        <div class="row">
            <div class="col-lg-9">
                <h2>Mapper</h2>
                <div class="form-row">
                    <div class="col-lg-10">
                        <typeahead-contacts :on-chosen="onChosen">
                        </typeahead-contacts>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="mapperUpload">Bulk Addresses</label>
                            <input id="mapperUpload" ref="fileInput" type="file" accept="text/csv" class="d-none"
                                @change="onCSVPicked">
                            <button class="btn btn-primary btn-block" title="1MB Max" @click="pickCSVFile">
                                Upload CSV
                            </button>
                        </div>
                    </div>
                </div>
                <map-basic :state="whatState" :geojson="geojson" :config="globalStore.config" />
            </div>
            <div class="col-lg-3">
                <h2>Tour Builder</h2>
                <label for="optionsSelectUser">Select Your User Type</label>
                <dropdown :options="optionsSelectUser" id="optionsSelectUser" placeholder="Select user"
                    @selection-changed="handleSelectUser" />
                <div class="input-group mt-3 w-100">
                    <search-input-contacts placeholder="User location..."
                        :query-group-parameters="mapRole[globalStore.user.role]" :disabled="!globalStore.user.role"
                        :handle-onchosen="onChosenUser"></search-input-contacts>
                </div>
                <hr>

                <div v-if="whatState == 'build'">
                    <div v-if="chosenRiders">
                        <h4>Riders</h4>
                        <ul class="list-unstyled builder-chosen">
                            <li v-for="rider in chosenRiders" :key="rider.properties" class="mb-3 mt-3"
                                @click="clickHandlerPlaceItem(rider.properties?.address)">
                                <div class="d-flex">
                                    <place-name :place="rider.properties"
                                        :isActive="rider.properties?.address === eotlStore.activeMapItemByAddress"></place-name>
                                    <div class="ml-auto pl-3">
                                        <img src="/images/icons/bicycle-1.svg">
                                    </div>
                                </div>
                                <hr class="light">
                            </li>
                        </ul>
                    </div>

                    <div v-if="chosenSuppliers">
                        <h4>Suppliers</h4>
                        <ul class="list-unstyled builder-chosen">
                            <li v-for="supplier in chosenSuppliers" :key="supplier.properties" class="mb-3 mt-3"
                                @click="clickHandlerPlaceItem(supplier.properties?.address)">
                                <div class="d-flex">
                                    <place-name :place="supplier.properties"
                                        :isActive="supplier.properties?.address === eotlStore.activeMapItemByAddress"></place-name>
                                    <div class="ml-auto pl-3">
                                        <img src="/images/icons/supplier.svg">
                                    </div>
                                </div>
                                <hr class="light">
                            </li>
                        </ul>
                    </div>

                    <h4>Stops</h4>
                    <ul class="list-unstyled builder-chosen">
                        <li v-for="item in chosenLocations" :key="item.properties" class="mb-3 mt-3"
                            @click="clickHandlerPlaceItem(item.properties?.address)">
                            <div class="d-flex">
                                <place-name :place="item.properties"
                                    :isActive="item.properties?.address === eotlStore.activeMapItemByAddress"></place-name>
                                <div class="ml-auto pl-3">
                                    <img src="/images/icons/geopoint.svg">
                                </div>
                            </div>
                            <hr class="light">
                        </li>
                        <li v-for="item in chosenContacts" :key="item.properties" class="mb-3 mt-3"
                            @click="clickHandlerPlaceItem(item.properties?.address)">
                            <div class="d-flex">
                                <place-name :place="item.properties"
                                    :isActive="item.properties?.address === eotlStore.activeMapItemByAddress"></place-name><br>
                                <div class="ml-auto pl-3">
                                    <img src="/images/icons/places.svg">
                                </div>
                            </div>
                            <hr class="light">
                        </li>
                    </ul>
                    <button v-if="chosenLocations.length > 0" class="btn btn-secondary btn-block" @click="savePlaces">
                        Save Places
                    </button>
                    <button class="btn btn-primary btn-block" @click="saveTour">
                        Save Tour
                    </button>
                    <button class="btn btn-secondary btn-block" @click="optimizeTour">
                        Optimize Tour
                    </button>
                </div>
                <div v-else-if="whatState == 'vroom'">
                    <tour-preview :vroom="vroom"></tour-preview>
                    <button class="btn btn-primary btn-block" @click="createTour">
                        Create Tour
                    </button>
                </div>
                <div v-else-if="whatState == 'tour'">
                    <tour-final :tour="tour"></tour-final>
                    <router-link :to="{ path: '/tour/' + tour.slug }" class="btn btn-secondary btn-block">
                        View Tour
                    </router-link>
                </div>
                <div v-else-if="whatState == 'processing'">
                    <div class="bg-light p-3">
                        <p>Processing tour data...</p>
                    </div>
                </div>
                <div v-else-if="whatState == 'error'">
                    <p>Oops. Something here is a bit wonky...</p>
                </div>
                <div v-else>
                    <p>{{ $t('tour.buildMessage') }}</p>
                    <ul>
                        <li>{{ $t('tour.buildAdd1') }}</li>
                        <li>{{ $t('tour.buildAdd2') }}</li>
                        <li>{{ $t('tour.buildAdd3') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</template>

<script setup>
import { watch, ref, reactive, computed, onMounted } from 'vue'
import { storeToRefs } from 'pinia'
import _ from 'lodash'
import { useRouter } from 'vue-router'
import { useStoreGlobal } from '../store/globalStore'

import { Data } from '@eotl/core/enums'
import { useEotlCore } from '@eotl/core/store'

import SearchInputContacts from '@/components/SearchInputContacts.vue'
import { MapBasic } from '@eotl/core/components'
import TypeaheadContacts from '@/components/TypeaheadContacts'
import { PlaceName } from '@eotl/core/components'
import TourPreview from '@/components/TourPreview'
import TourConfirm from '@/components/TourConfirm'
import TourFinal from '@/components/TourFinal'
import Dropdown from '@/components/Dropdown'

const eotlStore = useEotlCore()
const globalStore = useStoreGlobal()
const { zones } = storeToRefs(globalStore)

const router = useRouter()

// Define reactive state using ref for primitive values and reactive for objects
const fileInput = ref(null)
const loading = ref(false)
const state = ref('fresh')
const geojson = reactive({ type: 'FeatureCollection', features: [] })
const chosen = ref({}) // Assuming data.contact is defined elsewhere
const chosenContacts = ref([])
const chosenLocations = ref([])
const chosenRiders = ref([])
const chosenSuppliers = ref([])
const locate = ref('')
const csv = ref('')
const csvUrl = ref('')
const riders = ref([])
const pickups = ref([])
const vroom = reactive({
    jobs: [],
    options: {},
    shipments: [],
    vehicles: []
})
const tour = reactive({
    slug: '',
    routes: {},
    vroom: {}
})
const mapRole = {
    rider: 'riders',
    supplier: 'suppliers'
}


// Lifecycle hooks
onMounted(() => {
    globalStore.fetchGroups()
    globalStore.fetchZones()

    fetchCoordinators()
})


// Computed properties
const whatState = computed(() => {
    let stateTemp = 'fresh'
    if (state.value == 'processing') {
        stateTemp = 'processing'
    } else if (vroom.jobs.length > 0 || vroom.shipments.length > 0) {
        stateTemp = 'vroom'
    } else if (state.value == 'tour') {
        stateTemp = 'tour'
    } else if (chosenLocations.value.length > 0 || chosenContacts.value.length > 0 || chosenRiders.value.length > 0 || chosenSuppliers.value.length > 0) {
        stateTemp = 'build'
    } else if (state.value == 'fresh') {
        stateTemp = 'fresh'
    } else {
        stateTemp = 'error'
    }
    return stateTemp
})


// Watch
watch(zones, (newValue, oldValue) => {
    if (newValue && (newValue !== oldValue)) {
        geojson.features = newValue
    }
})


// Custom functions
const clickHandlerPlaceItem = (address) => {
    eotlStore.activeMapItemByAddress = address
}

const onChosen = (newChoice) => {
    const groupType = globalStore.config.group || 'contact'
    addChosen(
        groupType,
        newChoice.address,
        [newChoice.location.lon, newChoice.location.lat],
        newChoice.name
    )
}

const onChosenUser = (newChoice) => {
    const listType = mapRole[globalStore.user?.role]
    if (!listType) {
        eotlStore.alertWarning('Choose user role', 'No user role selected')
    } else {
        addChosen(
            mapRole[globalStore.user.role],
            newChoice.address,
            [newChoice.location.lon, newChoice.location.lat],
            newChoice.name,
            true
        )
    }
}

const addChosen = (kind, address, coordinates, name, isUser) => {
    let newPoint = {
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: coordinates
        },
        properties: {
            name: name,
            address: address,
            groupType: kind,
            email: '',
            phone: '',
            words: ''
        }
    }

    if (isUser) {
        newPoint.properties.isUser = true
    }

    geojson.features.push(newPoint)
    if (kind === 'contacts') {
        chosenContacts.value.push(newPoint)
    } else if (kind === 'customers') {
        chosenLocations.value.push(newPoint)
    } else if (kind === 'riders') {
        chosenRiders.value.push(newPoint)
    } else if (kind === 'suppliers') {
        chosenSuppliers.value.push(newPoint)
    }
}

const addCoordinator = (coordinator) => {
    let newPoint = {
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [coordinator.location.lon, coordinator.location.lat]
        },
        properties: {
            name: coordinator.name,
            address: coordinator.address,
            email: '',
            phone: '',
            words: ''
        }
    }
    geojson.features.push(newPoint)
}

const fetchCoordinators = async () => {
    loading.value = true

    // Fetch riders
    const ridersFetched = await fetch(globalStore.config.url_api + '/contacts?group=riders')
    if (!ridersFetched.ok)
        throw `Error response code: ${ridersFetched.status}`
    const ridersData = await ridersFetched.json()

    ridersData.contacts.forEach((rider) => {
        rider.status = 'created'
    })

    // Set riders
    riders.value = ridersData.contacts

    // Fetch pickups
    const pickupsFetched = await fetch(globalStore.config.url_api + '/contacts?group=suppliers')
    if (!pickupsFetched.ok)
        throw `Error response code: ${pickupsFetched.status}`
    const pickupsData = await pickupsFetched.json()
    pickupsData.contacts.forEach((pickup) => {
        pickup.status = 'created'
    })
    // Set pickups
    pickups.value = pickupsData.contacts

    loading.value = false
}


const locateAddress = async () => {
    loading.value = true
    var formBody = new FormData()
    formBody.append('address', locate.value)
    const response = await fetch(globalStore.config.url_api + '/geocode/address/', {
        method: 'post',
        body: formBody
    })

    if (!response.ok) {
        const error = await response.json()
        eotlStore.alertDanger(error)
        throw `Error response code: ${response.status}`
    }

    const contact = await response.json()

    addChosen(
        'location',
        contact.address,
        [contact.location.lon, contact.location.lat],
        'unnamed'
    )
    locate.value = ''
}

const pickCSVFile = () => {
    fileInput.value.click()
}

const onCSVPicked = async (event) => {
    const files = event.target.files
    let filename = files[0].name
    const fileReader = new FileReader()
    fileReader.readAsDataURL(files[0])
    csv.value = files[0]

    var formData = new FormData()
    formData.append('file', csv.value)
    const response = await fetch(globalStore.config.url_api + '/geocode/addresses', {
        method: 'POST',
        body: formData
    })

    if (!response.ok) {
        const error = await response.json()
        eotlStore.alertDanger(error)
        throw `Error response code: ${response.status}`
    }

    const contacts = await response.json()
    let x
    for (x in contacts.addresses) {
        const contact = contacts.addresses[x]
        let name = 'unnamed'
        if (contact.name) { name = contact.name }
        addChosen(
            'location',
            contact.address,
            [contact.location.lon, contact.location.lat],
            name
        )
    }
}

const savePlaces = async () => {
    let x, contacts = []
    for (x in chosenLocations) {
        contacts.push(chosenLocations[x].properties)
    }
    var formBody = {
        group: globalStore.config.group,
        contacts: contacts
    }

    var formJSON = JSON.stringify(formBody)
    const response = await fetch(globalStore.config.url_api + '/contacts', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: formJSON
    })

    if (!response.ok) {
        const error = await response.json()
        eotlStore.alertDanger(error)
        throw `Error response code: ${response.status}`
    }

    const added = await response.json()
    eotlStore.alertSuccess(added)
}

const saveTour = async () => {
    let tourName = prompt("Please name your Tour", "Wild Ride #1")
    if (tourName == null || tourName == "") {
        eotlStore.alertDanger('You must specify a Tour name')
        throw `Error response code: Tour needs name`
    }

    // Stops to go to
    let chosenValues = _.concat(chosenContacts.value, chosenLocations.value)
    let x, deliveries = []
    for (x in chosenValues) {
        var stop = {
            name: chosenValues[x].properties.name,
            email: chosenValues[x].properties.email,
            phone: chosenValues[x].properties.phone,
            address: chosenValues[x].properties.address,
            address_details: '',
            location: {
                lon: chosenValues[x].geometry.coordinates[0],
                lat: chosenValues[x].geometry.coordinates[1]
            },
            status: 'created'
        }
        deliveries.push(stop)
    }

    var formBody = {
        name: tourName,
        deliveries: deliveries,
        riders: riders.value,
        pickups: pickups.value
    }
    var formJSON = JSON.stringify(formBody)
    state.value = 'processing'

    const response = await fetch(globalStore.config.url_api + '/tours', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: formJSON
    })

    if (!response.ok) {
        const error = await response.json()
        let alertString = error.title || error.detail || 'Error'
        if (error.detail && error.detail.includes('slug')) {
            alertString = 'Tour names must be unique. ' + alertString
        }
        eotlStore.alertDanger(alertString)
        state.value = 'fresh'
        throw `Error response code: ${response.status}`
    }

    const saved = await response.json()
    tour.slug = saved.detail
    state.value = 'tour'
    router.push('/tour/' + saved.detail)
}

const optimizeTour = async () => {
    console.log('optimizeTour...')

    // Show Rider & Supplier
    // TODO improve this for multiple
    addCoordinator(riders.value[0])
    addCoordinator(pickups.value[0])

    // Stops to go to
    let chosen = _.concat(chosenContacts.value, chosenLocations.value)
    let x, deliveries = []
    for (x in chosen) {
        var stop = {
            name: chosen[x].properties.name,
            email: chosen[x].properties.email,
            phone: chosen[x].properties.phone,
            address: chosen[x].properties.address,
            address_details: '',
            location: {
                lon: chosen[x].geometry.coordinates[0],
                lat: chosen[x].geometry.coordinates[1]
            }
        }
        deliveries.push(stop)
    }

    var formBody = {
        deliveries: deliveries,
        riders: riders.value,
        pickups: pickups.value
    }
    var formJSON = JSON.stringify(formBody)
    const response = await fetch(globalStore.config.url_api + '/vroom/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: formJSON
    })

    if (!response.ok) {
        const error = await response.json()
        eotlStore.alertDanger(error)
        throw `Error response code: ${response.status}`
    }

    const vroomFetched = await response.json()
    const { jobs, options, shipments, vehicles } = vroomFetched
    vroom.jobs = jobs || []
    vroom.options = options || []
    vroom.shipments = shipments || []
    vroom.vehicles = vehicles || []
    drawVroomShipments(vroom.shipments)
    state.value = 'vroom'
}

const drawVroomShipments = (shipments) => {
    let x
    for (x in shipments) {
        let coords = [shipments[x].pickup.location, shipments[x].delivery.location]
        let tour = 'Tour ' + shipments[x].pickup.id + ' ' + shipments[x].delivery.id
        let description = 'From ' + shipments[x].pickup.description + ' to ' + shipments[x].delivery.description
        let thisLine = {
            type: "Feature",
            properties: {
                name: tour,
                description: description
            },
            geometry: {
                type: "LineString",
                coordinates: coords
            }
        }

        geojson.features.push(thisLine)
    }
}

const solveTour = async () => {
    console.log('solveTour...')
    state.value = 'processing'
    var formJSON = JSON.stringify(vroom)
    const response = await fetch(globalStore.config.url_api + '/vroom/solver', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: formJSON
    })

    if (!response.ok) {
        const error = await response.json()
        eotlStore.alertDanger(error)
        throw `Error response code: ${response.status}`
    }

    const solved = await response.json()

    tour.routes = solved?.routes || []
    tour.slug = solved?.slug || []
    tour.vroom = solved?.vroom || []
    state.value = 'tour'
}


// User role
const optionsSelectUser = [
    { label: 'Rider', value: 'rider' },
    { label: 'Supplier', value: 'supplier' },
]

const handleSelectUser = (value) => {
    globalStore.$patch((state) => {
        state.user.role = value
    })
}

</script>

<style>
ul.builder-chosen li img {
    height: 21px;
}
</style>
