<template>
    <div>
        <div class="row">
            <div class="col-6">
                <h2>Tour: {{ globalStore.selectedTour.name }}</h2>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-sm btn-danger" @click="deleteTour()">
                    Delete Tour
                </button>
                <router-link :to="{ path: '/tours' }" class="btn btn-sm btn-primary">
                    &Lang; To Overview
                </router-link>
                <div class="mt-2 w-25 ml-auto">
                    <dropdown :options="optionsSelect" @selectionChanged="handleSelectionChanged"
                        placeholder="Edit tour"></dropdown>
                </div>
            </div>
        </div>
        <hr>
        <tour-item :item="globalStore.selectedTour"></tour-item>
        <hr>
        <div class="row mb-5">
            <div class="col-lg-9 col-xl-8">
                <h4>Map</h4>
                <div>
                    <span v-if="loading">Loading...</span>
                </div>
                <map-basic :state="'fresh'" :geojson="computedGeoJSON"></map-basic>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-4">
                <tour-stops :stops="globalStore.selectedTour.deliveries"></tour-stops>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, computed } from 'vue';
import _ from 'lodash'
import { mapState } from 'pinia'
import { MapBasic } from '@eotl/core/components'
import { useRoute } from 'vue-router'
import * as L from "leaflet"
import { LTileLayer, LMarker, LGeoJson, LIcon } from "@vue-leaflet/vue-leaflet"

import { useStoreGlobal } from '../store/globalStore'

import TourItem from '@/components/TourItem'
import TourStops from '@/components/TourStops'
import Dropdown from '@/components/Dropdown'

export default {
    name: 'tour',
    components: {
        'tour-item': TourItem,
        'tour-stops': TourStops,
        'map-basic': MapBasic,
        'l-tile-layer': LTileLayer,
        'l-marker': LMarker,
        'l-geo-json': LGeoJson,
        'l-icon': LIcon,
        Dropdown
    },
    setup() {
        const globalStore = useStoreGlobal()
        const route = useRoute()

        const optionsSelect = [
            { label: 'Create new tour', value: 'opt1' },
            { label: 'Update tour', value: 'opt2' },
            { label: 'Delete tour', value: 'opt3' },
        ]


        const handleSelectionChanged = (selectedValue) => {
            console.log('Selected:', selectedValue);
        }

        onMounted(() => {
            const { id } = route?.params
            globalStore.fetchTourItem(id)
        })

        // Computed
        const computedGeoJSON = computed(() => {
            let root = { type: 'FeatureCollection', features: [] };
            if (globalStore.selectedTour) {
                for (let item of globalStore.selectedTour.deliveries) {
                    let newPoint = {
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [item.location.lon, item.location.lat]
                        },
                        properties: {
                            name: item.name,
                            address: item.address,
                            email: item.email,
                            phone: item.phone,
                            words: ''
                        }
                    };
                    root.features.push(newPoint);
                }
            }
            return root;
        });

        return {
            optionsSelect,
            handleSelectionChanged,
            globalStore,
            computedGeoJSON
        }
    },
    data() {
        return {
            tour: {
                id: 0,
                client: 'none',
                name: 'Tour Name',
                slug: 'tour-name',
                date: "2021-01-01",
                deliveries: [],
                pickups: [],
                riders: [],
                pickup_time: {
                    "start": "12:30",
                    "end": "14:30"
                },
                count_stops: 1,
                count_cargo: 1,
                zones: ["ber"]
            },
            stops: [],
            mapboxToken: this.globalStore.config.mapboxToken,
            loading: false,
            show: true,
            enableTooltip: true,
            zoom: 12,
            center: [52.5048, 13.3940],
            geojson: null,
            fillColor: "#e4ce7f",
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            attribution: '&copy; OpenStreetMap contributors',
            marker: L.latLng(52.5048, 13.3940),
            start: L.latLng(52.5037, 13.3420),
            dynamicSize: '',
            dynamicAnchor: '',
            zones: {}
        }
    },
    computed: {
        ...mapState(useStoreGlobal, ['config']),
        options() {
            return {
                onEachFeature: this.onEachFeatureFunction
            };
        },
        styleFunction() {
            const fillColor = this.fillColor;
            return () => {
                return {
                    weight: 1,
                    color: "#333333",
                    opacity: 1,
                    fillColor: fillColor,
                    fillOpacity: .75
                };
            };
        },
        onEachFeatureFunction() {
            if (!this.enableTooltip) {
                return () => { };
            }
            return (feature, layer) => {
                layer.bindTooltip(
                    "<strong class='mb-1'>" + feature.properties.name + "</strong>" +
                    "<div>" + feature.properties.address + "</div>",
                    { permanent: false, sticky: true }
                );
            };
        },
    },
    methods: {
        getZones() {
            this.loading = true
            let vm = this
            fetch(this.globalStore.config.url_api + '/zones?id=' + this.config.zone_parent, {
                method: 'GET',
                headers: {
                    Accept: 'text/plain',
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    vm.zones = json
                    vm.loading = false
                })
        },
        // getStops(slug) {
        //     let vm = this
        //     fetch(this.globalStore.config.url_api + '/tours/' + slug, {
        //         method: 'GET',
        //         headers: {
        //             Accept: 'text/plain',
        //             'Content-Type': 'application/json',
        //         },
        //     })
        //       .then(response => {
        //         return response.json();
        //       }) 
        //       .then(json => {
        //         vm.tour = json
        //         vm.loading = false
        //     }) 
        // },
        async deleteTour() {
            const response = await fetch(this.globalStore.config.url_api + '/tours' + slug, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                body: formBody
            })

            if (!response.ok) {
                const error = await response.json()
                this.alertDanger(error)
                throw `Error response code: ${response.status}`
            }

            const deleted = await response.json()
            console.log(deleted)
        }
    }
}
</script>
