<template>
    <main>
        <h2>Zones</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-between">
                    <div v-if="zone.properties">
                        <h3>{{ zone.properties.name }}</h3>
                    </div>
                    <div v-if="zone.properties">
                        <code>{{ zone.properties.abbr }}</code>
                    </div>
                </div>
                <p>
                    This is the highest level zone this instance of Sextant is
                    configured for. The following zones are contained within.
                </p>
                <hr class="light">
                <ul v-if="zones?.features" class="list-unstyled">
                    <li v-for="item in zonesChildren" :key="item?.properties" class="mb-4">
                        <zone-item :zone="item"></zone-item>
                        <hr class="light">
                    </li>
                </ul>
                <p class="text-italic color-light">
                    A user-friendly way to to edit zones is planned, but not a high
                    priority.
                </p>
            </div>
            <div class="col-8">
                <div>
                    <span v-if="loading">Loading...</span>
                </div>
                <l-map :zoom="zoom" :center="center" style="height: 600px; width: 100%" class="mb-4">
                    <l-tile-layer :url="url" :attribution="attribution" />
                    <l-geo-json v-if="show" :key="geojsonKey" :geojson="zones" :options="options"
                        :options-style="styleFunction" />
                </l-map>
            </div>
        </div>
    </main>
</template>

<script>
import { computed, ref, onMounted, watch } from 'vue'
import _ from 'lodash'
import * as L from "leaflet"
import { LMap, LTileLayer, LMarker, LGeoJson, LIcon } from "@vue-leaflet/vue-leaflet"

import { useStoreGlobal } from '../store/globalStore'
import { useEotlCore } from '@eotl/core/store'
import ZoneItem from '@/components/ZoneItem'

export default {
    name: 'Zones',
    components: {
        'zone-item': ZoneItem,
        'l-map': LMap,
        'l-tile-layer': LTileLayer,
        'l-marker': LMarker,
        'l-geo-json': LGeoJson,
        'l-icon': LIcon
    },
    setup() {
        const globalStore = useStoreGlobal()
        const zones = ref({ features: [], type: "FeatureCollection" })
        const zone = ref({})
        const geojsonKey = ref(0)
        const mapboxToken = ref(globalStore.config.mapboxToken)
        const loading = ref(false)
        const show = ref(true)
        const enableTooltip = ref(true)
        const zoom = ref(11)
        const center = ref([52.5048, 13.3940])
        const geojson = ref(null)
        const fillColor = ref("#e4ce7f")
        const url = ref('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')
        const attribution = ref('&copy; OpenStreetMap contributors')
        const marker = ref(L.latLng(52.5048, 13.3940))
        const start = ref(L.latLng(52.5037, 13.3420))
        const dynamicSize = ref('')
        const dynamicAnchor = ref('')

        watch(zones.value, () => {
            geojsonKey.value++
        })

        const zonesChildren = computed(() => zones.value.features.filter(item => item?.properties?.relation == 'child'))

        const options = computed(() => {
            return {
                onEachFeature: onEachFeatureFunction.value
            }
        })

        const styleFunction = computed(() => {
            return () => ({
                weight: 1,
                color: "#333333",
                opacity: 1,
                fillColor: fillColor.value,
                fillOpacity: .75
            })
        })

        const onEachFeatureFunction = computed(() => {
            if (!enableTooltip.value) {
                return () => { }
            }
            return (feature, layer) => {
                layer.bindTooltip(
                    "<strong class='mb-1'>" + feature.properties.name + "</strong>",
                    { permanent: false, sticky: true }
                )
            }
        })

        const fetchZones = async () => {
            const eotlStore = useEotlCore()
            eotlStore.fetchGet('/zones?id=' + globalStore.config.zone_parent).then(response => {
                zones.value.features = response.features
                var zone = _.find(response.features, function (o) {
                    return o.properties.abbr == globalStore?.config?.zone_parent
                })
                zone.value = zone
            })
        }

        onMounted(fetchZones)

        return {
            zone,
            zones,
            zonesChildren,
            geojsonKey,
            mapboxToken,
            loading,
            show,
            enableTooltip,
            zoom,
            center,
            geojson,
            fillColor,
            url,
            attribution,
            marker,
            start,
            dynamicSize,
            dynamicAnchor,
            options,
            styleFunction,
            onEachFeatureFunction
        }
    }
}
</script>
