<template>
    <select class="form-control" @change="updateZone($event)">
        <option v-for="zone in zones" :key="zone.properties.abbr" :value="zone.properties.abbr">
            {{ zone.properties.name }}
        </option>
    </select>
</template>

<script>
import { computed, onMounted, ref } from 'vue'
import { useStoreGlobal } from '../store/globalStore'

export default {
    name: 'DropdownZones',
    emits: ['event-zone'],
    setup(props, { emit }) {
        const globalStore = useStoreGlobal()
        const zones = computed(() => globalStore.zones)

        console.log('TODO: filter out global zone_parent: ', globalStore.config.zone_parent) 

        onMounted(() => {
            if (!zones.value || zones.value.length === 0) {
                globalStore.fetchZones()
            }
        })

        const updateZone = (event) => {
            emit("event-zone", event.target.value)
            globalStore.config.zone = event.target.value
        }

        return {
            globalStore,
            zones,
            updateZone
        }
    },
}
</script>
