<template>
    <select :class="cssClasses" v-model="selectedItem" @change="onSelectionChange">
        <option value="" disabled selected>{{ placeholder }}</option>
        <option v-for="option in options" :key="option.value" :value="option.value">
            {{ option.label }}
        </option>
    </select>
</template>

<script>
import { ref } from 'vue';

export default {
    name: 'Dropdown',
    props: {
        cssClasses: {
	   type: String,
	   default: 'form-control',
	},
        options: {
            type: Array,
            required: true,
        },
        selectedItem: {
            type: String,
        },
        placeholder: {
            type: String,
            default: 'Select your option',
        }
    },
    setup(props, { emit }) {
	const cssClasses = ref(props.cssClasses);
	const selectedItem = ref(props.selectedItem);

        const onSelectionChange = () => {
            emit('selectionChanged', selectedItem.value);
        };

        return {
	    cssClasses,
            selectedItem,
            onSelectionChange,
        };
    },
};
</script>
