<template>
    <select class="form-control" @change="updateGroup($event)">
        <option value="" selected>All</option>
        <option v-for="group in groups" :key="group.slug" :value="group.slug">
            {{ capitalize(group.name) }}
        </option>
    </select>
</template>

<script>
import _ from 'lodash'
import { computed, onMounted, ref } from 'vue'
import { useStoreGlobal } from '../store/globalStore'

export default {
    name: 'DropdownGroups',
    emits: ['event-group'],
    setup(props, { emit }) {
        const globalStore = useStoreGlobal()

        const groups = computed(() => globalStore.groups)

        const groupName = ref('hello')

        const capitalize = (word) => {
            return _.capitalize(word)
        } 

        onMounted(() => {
            if (!groups.value || groups.value.length === 0) {
                globalStore.fetchGroups()
            }
        })

        const updateGroup = (event) => {
            emit("event-group", event.target.value)
            globalStore.config.group = event.target.value
        }

        return {
            globalStore,
            groups,
            capitalize,
            updateGroup
        }
    },
}
</script>
