<template>
    <div>
        <ul v-if="globalStore.riders.length > 0" class="list-unstyled">
            <li v-for="rider in globalStore.riders" v-if="riderAvail" :key="rider.id" class="border mb-4 p-3">
                <rider :rider="rider"></rider>
            </li>
        </ul>
        <ul v-else class="list-unstyled">
            <li>No riders found</li>
        </ul>
    </div>
</template>

<script>
import { onMounted } from 'vue';
import { useStoreGlobal } from '../store/globalStore'

import Rider from '@/components/Rider'

export default {
    name: 'RiderList',
    components: {
        Rider
    },
    props: [],
    setup() {
        const globalStore = useStoreGlobal()

        onMounted(async () => {
            await globalStore.fetchRiders()
        })

        return {
            globalStore
        }
    },
    computed: {
        riderAvail() {
            // TODO: actually calculate this at some point
            return true
        }
    },
}
</script>
