<template>
    <div class="float-right">
        <i v-if="loading" class="fa fa-spinner fa-spin"></i>
        <i v-show="isDirty" class="fa fa-times" @click="reset"></i>
    </div>
    <input v-model="query.search" type="text" :disabled="props.disabled" class="form-control" autocomplete="off"
        :placeholder="props.placeholder" @keydown.down="handleDown" @keydown.up="handleUp" @keydown.enter="handleEnter"
        @keydown.esc="handleEsc" @blur="handleBlur" @input="handleInput">
    <ul v-show="hasItems" class="list-unstyled dropdown-menu show"
        :style="{ width: 'max-content !import', 'z-index': 9999 }">
        <li v-for="(item, index) in contacts" :key="index" class=" mb-3 pl-1" :class="activeClass(index)"
            @mousedown="handleClickListItem(index)" @mousemove="setActive(index)">
            <div class="d-flex">
                <div class="pr-2">
                    <img :style="{ maxHeight: '22px', paddingLeft: '4px' }"
                        :src="queryGroupParameters ? globalStore.getIcon(queryGroupParameters) : globalStore.getIcon('contacts')">
                </div>
                <place-name :place="item"></place-name>
            </div>
        </li>
    </ul>

</template>

<script setup>
import { ref, computed } from 'vue'
import { useEotlCore } from '@eotl/core/store'
import { PlaceName } from '@eotl/core/components'
import { useStoreGlobal } from '../store/globalStore'

const itemTest = {
    name: 'test'
}

const globalStore = useStoreGlobal()
const eotlStore = useEotlCore()
const minChars = ref(2)
const current = ref(-1)
const loading = ref(false)
const contacts = ref([])

const props = defineProps({
    handleDown: Function,
    handleUp: Function,
    handleEnter: Function,
    handleEsc: Function,
    handleBlur: Function,
    handleInput: Function,
    handleOnchosen: Function,
    handleClickListItem: Function,
    placeholder: String,
    queryGroupParameters: {
        type: String,
        default: ''
    },
    disabled: {
        type: [String, Boolean],
        default: false
    },
})

const query = ref({
    search: '',
    group: '',
    zoneId: globalStore.config.zone_parent
})

const hasItems = computed(() => contacts?.value?.length > 0)

/**
 * Custom functions
 */

const fetchCustom = () => {
    let cancel = new Promise((resolve) => resolve)
    let request = eotlStore.fetchGet('/contacts', queryString.value)
    return Promise.race([cancel, request])
}

const activeClass = (index) => {
    return {
        active: current.value === index
    }
}

const refreshState = () => {
    contacts.value = []
    query.value.search = ''
}

/**
 * Computed logic
 */

const queryString = computed(() => {
    let queryStringTemp = '?'
    if (query.value.search !== '') {
        queryStringTemp += 'q=' + query.value.search + '&'
    }
    if (props.queryGroupParameters !== '') {
        queryStringTemp += 'group=' + props.queryGroupParameters + '&'
    }
    return queryStringTemp
})

const isDirty = computed(() => !!query.value.contacts)

/**
 * Handlers
 */

const handleEscDefault = () => {
    contacts.value = []
    query.value.search = ''
    query.value.zoneId = ''
    loading.value = false
}

const setActive = (index) => {
    return {
        active: current.value === index
    }
}

const handleEnterDefault = () => {
    if (contacts.value.length !== 0) {
        props.handleOnchosen(contacts.value[current.value])
        refreshState()
    } else {
        eotlStore.alertWarning('No valid location', 'Choose a valid location')
    }
}

const handleClickListItemDefault = (index) => {
    current.value = index
    if (current.value !== -1 && contacts?.value[current.value]) {
        props.handleOnchosen(contacts.value[current.value])
    } else {
        eotlStore.alertWarning('No valid location', 'Choose a valid location')
    }
}

const handleUpDefault = () => {
    if (current.value > 0) {
        current.value--
    } else if (current.value === -1) {
        current.value = contacts.value.length - 1
    } else {
        current.value = -1
    }
}

const handleDownDefault = () => {
    if (current.value < contacts.value.length - 1) {
        current.value++
    } else {
        current.value = -1
    }
}

const cancel = () => {
    // used to 'cancel' previous searches
}

const handleInputDefault = () => {
    cancel()

    if (!query.value) {
        // return resetcancel() // TODO: this function does not exist
    }

    if (minChars.value && query.value.search.length < minChars.value) {
        return false
    }

    loading.value = true
    fetchCustom().then((response) => {
        if (response && query.value) {
            if ('contacts' in response) {
                contacts.value = response.contacts
            }

            current.value = -1
            loading.value = false

            // if (selectFirst.value) {
            //     // downcancel() TODO: this function does not exist
            // }
        }
    })
}


// Directly use the passed functions as handlers
const handleDown = props.handleDown || handleDownDefault
const handleUp = props.handleUp || handleUpDefault
const handleEnter = props.handleEnter || handleEnterDefault
const handleEsc = props.handleEsc || handleEscDefault
const handleBlur = props.handleBlur || handleEscDefault
const handleInput = props.handleInput || handleInputDefault
const handleClickListItem = props.handleClickListItem || handleClickListItemDefault
</script>

<style>
ul.dropdown-menu li.active .listItem {
    color: var(--link-color-hover);
}
</style>