<template>
    <div class="row tour-item">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <p class="mb-3 text-monospace">
                <small class="text-uppercase">Date</small><br>
                <span>{{ item.date }}</span>
            </p>
            <p class="mb-3 text-monospace">
                <small class="text-monospace text-uppercase">Pickup</small><br>
                <span>{{ pickup_time.start }} - {{ pickup_time.end }}</span> 
            </p>
        </div>
        <div class="col-lg-4">
            <p class="mb-3">
                <small class="text-monospace text-uppercase">Stops</small><br>
                <img src="/images/icons/list.svg">
                <span class="text-monospace">{{ item.stops_count }}</span>
            </p>
            <p class="mb-3">
                <small class="text-monospace text-uppercase">Cargo</small><br>
                <img src="/images/icons/box.svg">
                <span class="text-monospace">{{ item.count_cargo }}</span> Parcels
            </p>
        </div>
        <div class="col-lg-4">
            <small class="text-monospace text-uppercase">Zones</small><br>
            <ul class="list-unstyled mb-3">
              <li v-for="zone in item.zones">
                <img src="/images/icons/geopoint.svg">
                {{ zone }}
              </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
  name: 'tour-item',
  props: ['item'],
  data() {
    return {
        pickup_time: {
            start: '12:00',
            end: '14:00'
        }
    }
  },
  created() {},
  computed: {},
  methods: {
    btnViewTour(id) {
        alert('View tour id: ' + id)
    }
  }
}
</script>

<style>
div.tour-item div img {
    height: 24px;
    margin-right: .5rem;
}
</style>
