<template>
    <div>
        <p>Your tour looks like:</p>
        <pre class="small">
            {{ tour }}
        </pre>
    </div>
</template>

<script>
export default {
    name: 'tour-confirm',
    props: ['tour'],
    data() {
        return {
        }
    },
    created() {},
    computed: {},
    methods: {}
}
</script>
