<template>
    <div>
        <p>The proposed tour looks like the following:</p>
        <ul class="list-unstyled">
            <li v-for="item in vroom.vehicles">
                <strong>{{ item.description }}</strong><br>
                Vehicle: {{ item.profile }}<br>
                Capacity: {{ item.capacity }}
            </li>
        </ul>

        <strong>{{ vroom.shipments.length }} Stops</strong>
        <pre class="small">
            {{ vroom }}
        </pre>
    </div>
</template>

<script>
export default {
    name: 'tour-preview',
    props: ['vroom'],
    data() {
        return {
        }
    },
    created() {},
    computed: {},
    methods: {}
}
</script>
