i<template>
    <div>
        <pre class="small">
            {{ tour }}
        </pre>
    </div>
</template>

<script>
import { PlaceName } from '@eotl/core/components'

export default {
    name: 'tour-final',
    props: ['tour'],
    components: {
        PlaceName
    },
    data() {
        return {
        }
    },
    mounted() {
    },
    computed: {
    },
    methods: {
    }
}

</script>
