<template>
    <div>
        <div v-if="globalStore.tours.length > 0">
            <ul class="list-unstyled">
                <li v-for="item in globalStore.tours" :key="item.slug" class="border mb-4 p-3">
                    <router-link :to="{ path: '/tour/' + item.slug }">
                        <h4>{{ item.name }}</h4>
                    </router-link>
                    <tour-item :item="item"></tour-item>
                    <router-link :to="{ path: '/tour/' + item.slug }" class="btn btn-primary float-right">
                        View Tour
                    </router-link>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
        <div v-else class="list-unstyled">
            <p>No tours found</p>
        </div>
    </div>
</template>

<script>
import { onMounted } from 'vue';
import { useStoreGlobal } from '../store/globalStore'

import TourItem from '@/components/TourItem'

export default {
    name: 'TourList',
    components: {
        TourItem
    },
    props: [],
    setup() {
        const globalStore = useStoreGlobal()

        onMounted(async () => {
            await globalStore.fetchTours()
        })

        return {
            globalStore
        }
    },
}
</script>
