<template>
    <div>
        <h4>Stops</h4>
        <hr class="light">
        <ul class="list-unstyled">
            <li v-for="stop in stops" class="mb-3">
                <place-name :place="stop"></place-name>
                <div class="row">
                    <div class="col-8">
                        <dropdown :cssClasses="'form-control form-control-sm'" :selectedItem="stop.state"
                            :options="options" @selectionChanged="(event) => handleSelectionChanged(event, stop.id)">
                        </dropdown>
                    </div>
                    <div class="col-4">
                        <button @click="(event) => deleteStop(event, stop.id)" class="btn btn-primary btn-sm btn-block">
                            Delete
                        </button>
                    </div>
                </div>
                <hr class="light">
            </li>
        </ul>
    </div>
</template>

<script>
import { computed } from 'vue';
import _ from "lodash"

import { useStoreGlobal } from '../store/globalStore'
import Dropdown from '@/components/Dropdown'
import { PlaceName } from '@eotl/core/components'
import { useEotlCore } from '@eotl/core/store';

export default {
    name: 'tour-stops',
    props: ['stops', 'tourId'],
    components: {
        PlaceName,
        Dropdown
    },
    setup(props) {
        const eotlStore = useEotlCore()
        const globalStore = useStoreGlobal()
        const options = [
            { label: 'Created', value: 'created' },
            { label: 'Assigned', value: 'assigned' },
            { label: 'Delivery', value: 'delivery' },
            { label: 'Success', value: 'success' },
            { label: 'Failed', value: 'failed' },
            { label: 'Partial', value: 'partial' },
        ]

        const handleSelectionChanged = async (selectedValue, stopId) => {
            const { pending } = await eotlStore.fetchPatch(`/touritems/${stopId}`, { state: selectedValue })
            if (!pending) {
                globalStore.updateTourStatus()
            }
        }

        return {
            handleSelectionChanged,
            options
        }
    },
    methods: {
        async deleteStop(e, stopId) {
            e.preventDefault();
            const eotlStore = useEotlCore();
            const confirmDelete = confirm("Are you sure you want to remove this stop from the Tour?")

            if (confirmDelete) {
                const { pending } = await eotlStore.fetchDelete(`/touritems/${stopId}`)
                if (!pending) {
                    console.log(`Tour stop ${stopId} deleted`)
                }
            }
        },
    },
}

</script>
