<template>
    <div class="typeahead mb-3">
        <div class="form-row mb-3">
            <div :class="'col-lg-6 ' + form.classesQuery">
                <label>Your Places (Enter locates new place)</label>
                <search-input-contacts :query-group-parameters="queryGroupParameters"
                    placeholder="Type a Name or Address..." :handle-onchosen="props.onChosen"></search-input-contacts>
            </div>
            <div class="col-lg-2">
                <label>Groups</label>
                <dropdown-groups @event-group="changeGroup">
                </dropdown-groups>
            </div>
            <div class="col-lg-2">
                <label>Zone</label>
                <dropdown-zones @event-zone="changeZone">
                </dropdown-zones>
            </div>
            <div class="col-lg-2">
                <label>Locate</label>
                <button type="submit" class="btn btn-primary btn-block" @click="locateBtn">
                    Place
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, defineProps } from 'vue'
import DropdownGroups from '@/components/DropdownGroups'
import DropdownZones from '@/components/DropdownZones'
import SearchInputContacts from '@/components/SearchInputContacts.vue'
import { useStoreGlobal } from '../store/globalStore'

const globalStore = useStoreGlobal()

const props = defineProps({
    onChosen: Function,
    locateBtn: Function
})

const loading = ref(false)
const queryGroupParameters = ref('')
const queryZoneParameters = ref('')
const form = ref({
    classesQuery: 'col-md-10',
    classesParams: 'd-none',
    entities: 'all',
    zones: ''
})

const changeGroup = (group) => {
    queryGroupParameters.value = group
}

const changeZone = (zone) => {
    console.log('changeZone: ', zone)
    queryZoneParameters.value = zone
}

const locateBtn = async () => {
    alert('TODO make lookupAddress string on remote system')
}
</script>

<style scoped>
.typeahead {
    position: relative;
}

.typeahead .fa-times {
    cursor: pointer;
}

.typeahead ul {
    position: absolute;
    padding: 0;
    margin-top: 8px;
    min-width: 100%;
    background-color: #fff;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    z-index: 10000;
}

.typeahead li {
    padding: 10px 16px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.typeahead li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.typeahead li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 0;
}

.typeahead li img {
    height: 21px;
}

.typeahead span {
    display: block;
    color: #2c3e50;
}

.typeahead .active {
    background-color: #3aa373;
}

.typeahead .active span {
    color: white;
}
</style>
