<template>
    <div class="d-flex justify-content-between">
        <div>
            <h5>
                {{ zone.properties.name }}
            </h5>
        </div>
        <div>
            <code>{{ zone.properties.abbr }}</code>
        </div>
    </div>
</template>

<script>
export default {
  name: 'zone-item',
  props: ['zone'],
  data() {
    return {
    }
  },
  created() {},
  computed: {},
  methods: {
  }
}
</script>
