<template>
    <div class="row">
        <div class="col-lg-1">
            <div class="list-group nav-main">
                <router-link :to="{ name: 'mapper' }" title="Mapper"
                    class="list-group-item list-group-item-action active" aria-current="true">
                    <img src="/images/icons/globe.svg" />
                    <small>Mapper</small>
                </router-link>
                <router-link :to="{ name: 'places' }" title="Places & Contacts"
                    class="list-group-item list-group-item-action">
                    <img src="/images/icons/places.svg" />
                    <small>Places</small>
                </router-link>
                <router-link :to="{ name: 'tours' }" title="Tours" class="list-group-item list-group-item-action">
                    <img src="/images/icons/tours.svg" />
                    <small>Tours</small>
                </router-link>
                <router-link :to="{ name: 'zones' }" title="Zones" class="list-group-item list-group-item-action">
                    <img src="/images/icons/zones.svg" />
                    <small>Zones</small>
                </router-link>
            </div>
        </div>
        <div class="col-lg-11">
            <Alert />
            <router-view v-slot="{ Component }">
                <transition>
                    <component :is="Component" />
                </transition>
            </router-view>
        </div>
    </div>
</template>

<script setup>
import { onMounted } from 'vue'
// import { useStoreGlobal } from "./store/globalStore"
import 'jquery'
import { Alert } from '@eotl/core/components'

// import i18n from './i18n'
// import Mapper from '@/views/Mapper'

// const storeGlobal = useStoreGlobal()

const init = () => {
    console.log('Mounted sextant')
}

onMounted(init)
</script>

<style>
div.nav-main a {
    text-align: center;
}

div.nav-main a img {
    max-width: 36px;
    display: block;
    margin: 0 auto 0.5rem;
}
</style>
